body
{
    margin: 0px;
    border: 0px;
}

.header
{
    width: 100%;
    height: 120px;
    background-color: #01474a;
    color: white;
}

#image
{
    height: 80px;
    background-color: white;
    border-radius: 50px;
}

.main-content
{
    display: flex;
}

.sidebar
{
    flex: 2;
    height: 575px;
    background-color: #234a57; 
}

.admin-content
{
    flex: 8;
    height: 435px;
    padding: 40px 100px 100px;
    overflow-y: scroll;
}

ul li
{
    padding: 20px;
    border-bottom: 2px solid #004044;
    list-style-type: none;
    color: aliceblue;
}

a
{
    text-decoration: none;
}

ul li:hover
{
    background-color: #004044;
}

.btn
{
  background-color: #39788d;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover
{
  background-color: #014b50;
}

input
{
    color: royalblue;
}
